/.idea/
/vendor/
/node_modules/
.env
.env.local
.env.*.local
/uploads/
/uploads/*
/img_members/
/.vscode/
/.DS_Store
/.sass-cache/
/.cache/
*.log
*.sql
*.sqlite
composer.lock
npm-debug.log
yarn-error.log
/.htpasswd
/.history
Thumbs.db
/.idea/
/.phpunit.result.cache